html {
  --green-default    : #00acac;
  --green-hover      : #33bcbc;
  --green-active     : #069096;
  
  --white-default    : #fff;
  --white-hover      : #ecedf0;
  --white-active     : #cacbd2;
  --white-disabled   : #C0CCDA;
  
  --btn-group-hover  : #EFF2F7;
  --btng-active      : #8492A6;
  
  --blue-default     : #328ce2;
  --yellow-default   : #FFC040;
  --red-default      : #FF5B57;
  --branded-default  : #736AED;
}
